
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat';
}

h2 {
    font-size: 3rem;  
    line-height: 1.5; 
    font-weight: 500;
}

/* 缩放时更具流动性 */
.container-fluid {
    padding: 3% 15%;
    padding-bottom: 5%;
}

#title {
    background-color: #FFF8D6;

}

/* navbar */
/* css代码的排列顺序,最好是大到小,就如同html排列一样 */
.navbar {
    padding: 0 0 3.5rem;
}
.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-weight: 900;
    font-size: 1.3rem;
}

/* headings */
.big-heading {  
    font-size: 3rem;  
    line-height: 1.5;  
    font-weight: 900;
}



.title-div {
    padding-top: 15%;
}
.description {
    margin-top: 10%;
    font-size: 1.2rem; 
    line-height:200%;
}

.img-div{
    position: relative;
    left: 5%;
}

.cloth-img {
    width: 40%;
}

.title-img {
    position: relative;
    top: 5%;
    transform: rotate(-15deg);
    z-index: 1;
}

.title-img2 {
    position: relative;
    right: 5%;
    transform: rotate(15deg);
}

.title-img3 {
    position: relative;
    left: 10%;
    transform: rotate(-5deg);
}

.title-img4 {
    position: relative;
    left: 8%;
    bottom: 10%;
    transform: rotate(25deg);
}
/* feature */
#features {
    /* 用padding,而没有用width,让外层的div宽度仍然是100%,和其他div对齐??? */
    padding: 7% 15%;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    background-color: #fff;

}




.feature-des {
    text-align: center;
    padding: 0 3%
}

.feature-img {
    color: #ef8172;
}

.feature-des-head {
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: 600;
}

.feature-img:hover {
    color: #ff4c86;
}

.feature-des-content {
    color: #8f8f8f;
}

/* testimonials section */
#testimonials {
    padding: 7% 20%;
    background-color: #F7E1AE;
    color: white;
    font-size: 1.5rem; 
    font-family: Yuanti SC;
} 

.shop-img {
    width: 80%;
}